@model DAL.Entities.SocialMedia
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/adminlayout.cshtml";
}

<link href="~/Areas/Admin/Content/styles/pluginstyles/jquery.msgbox.css" rel="stylesheet" />
<link href="~/Areas/Admin/Content/styles/forms.css" rel="stylesheet" />
<link href="~/Areas/Admin/Content/styles/table.css" rel="stylesheet" />

@Html.Partial("_leftMenu")

<div id="page-content" class="container_12">
    <div id="page-header">
        <h2>SOSYAL MEDYA LİNKLERİ</h2>
    </div>
    @if (TempData["ImageSizeError"] != null)
    {
        <div class="notification error">@TempData["ImageSizeError"].ToString()</div>
    }
    <section class="grid_12 form">
        @Html.Hidden("ProcessMessage", (object)@ViewBag.ProcessMessage)
       @using (Html.BeginForm("Edit", "SocialMedia", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
           @*  @Html.Hidden("hdfieldcategory")
            @Html.Hidden("hdfieldtaglist")*@
            @Html.ValidationSummary(true)
            <fieldset>
                <legend>Sosyal Medya Linki Düzenle</legend>
                <p>
                    @Html.LabelFor(m => m.Name)
                   @Html.TextBoxFor(m => m.Name, new { @class = "textwidth50" })
                    @Html.ValidationMessageFor(m => m.Name)

                </p>

                <p>
                    @Html.LabelFor(m => m.LinkName)
                    @Html.TextBoxFor(m => m.LinkName, new { @class = "textwidth50" })
                    @Html.ValidationMessageFor(m => m.LinkName)
                </p>
                
              <p>
                <label for="txtname">Logo</label>
            
                <input type="file" name="uploadfile" id="uploadfile"  />
            </p>
       
                <p>
                    <label></label>
                    <input type="submit" value="Kaydet" id="btnsave" />
                </p>

            </fieldset>
        }
    </section>
</div>
@section Scripts {
    <link href="~/Areas/Admin/Content/styles/pluginstyles/jquery.msgbox.css" rel="stylesheet" />
    <script src="~/Areas/Admin/Content/scripts/plugins/jquery.msgbox.min.js"></script>
    <script src="~/Areas/Admin/Content/scripts/myscripts/MessageBox.js"></script>
    <script src="~/Areas/Admin/Content/scripts/plugins/jquery.validate.js"></script>
    <script src="~/Areas/Admin/Content/scripts/plugins/jquery.validate.unobtrusive.js"></script>
    <script src="~/Areas/Admin/Content/scripts/plugins/jquery.ui.datepicker-tr.js"></script>
    <script src="~/Areas/Admin/Content/scripts/pagescripts/banner/addbanner.js"></script>
}