@model DAL.Entities.Contact

<div class="footerLeft">
    <ul>
        <li><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_aboutus">@SharedRess.SharedStrings.aboutus</a></li>
        <li><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_services">@SharedRess.SharedStrings.services</a></li>
        <li><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_sectors">@SharedRess.SharedStrings.sectors</a></li>
        <li><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_products">@SharedRess.SharedStrings.products</a></li>
        <li><a href="/@SharedRess.SharedStrings.menu_culture/@SharedRess.SharedStrings.menu_references">@SharedRess.SharedStrings.references</a></li>
    </ul>
    <p>
        <span>@SharedRess.SharedStrings.address:</span> Tekstilkent Koza Plaza A Blok No:11 Esenler/İSTANBUL<br />
        <span>@SharedRess.SharedStrings.phone:</span> +90 212 659 24 41 - 438 24 41<br />
        <span>@SharedRess.SharedStrings.fax:</span> +90 212 659 24 81<br />
        <span>@SharedRess.SharedStrings.email:</span> <a class="maillink" href="mailto:info@kontrolmatik.com">info@kontrolmatik.com</a>
    </p>
</div>
<div class="footerRight">
    <p>
        <img src="/img/logoFooter.png" style="margin-bottom: -4px; margin-right: 2px;" />
        Copyright 2013
    </p>
    <p>Designed and Development <a href="http://www.wortec.net">WORTEC</a></p>
</div>
