@model DAL.Entities.Town

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/adminlayout.cshtml";
}


<link href="~/Areas/Admin/Content/styles/pluginstyles/jquery.msgbox.css" rel="stylesheet" />
<link href="~/Areas/Admin/Content/styles/forms.css" rel="stylesheet" />
<link href="~/Areas/Admin/Content/styles/table.css" rel="stylesheet" />

@Html.Partial("location_leftbar")

<div id="page-content" class="container_12">
    <div id="page-header">
       <h2>İLÇELER</h2>
    </div> 
    
<section class="grid_12 form">
    @Html.Hidden("ProcessMessage",(object)@ViewBag.ProcessMessage) 
    @using(Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <fieldset>
        <legend>İlçe Düzenle</legend>
        <p class="editor-field">
            @Html.Label("İl")
            @Html.DropDownListFor(model => model.CountryId,(IEnumerable<SelectListItem>)ViewBag.Countries,"İl Seçiniz...")
            @Html.ValidationMessageFor(model => model.Name)
        </p>
        <p class="editor-field">
            @Html.LabelFor(model => model.Name)
            @Html.EditorFor(model => model.Name, new { @class="textwidth50"})
            @Html.ValidationMessageFor(model => model.Name)
        </p>

        <p>
            <label></label>
            <input type="submit" value="Kaydet" id="btnsave" />
        </p>
       
    </fieldset>
    }
</section>
</div>
@section Scripts {
<link href="~/Areas/Admin/Content/styles/pluginstyles/jquery.msgbox.css" rel="stylesheet" />
<script src="~/Areas/Admin/Content/scripts/plugins/jquery.msgbox.min.js"></script>
<script src="~/Areas/Admin/Content/scripts/myscripts/MessageBox.js"></script>
<script src="~/Areas/Admin/Content/scripts/plugins/jquery.validate.js"></script>
<script src="~/Areas/Admin/Content/scripts/plugins/jquery.validate.unobtrusive.js"></script>
<script src="~/Areas/Admin/Content/scripts/pagescripts/reference/addreference.js"></script>
}