@model DAL.Entities.Document
@{
    ViewBag.Title = "AddDocument";
    Layout = "~/Areas/Admin/Views/Shared/adminlayout.cshtml";
}


<link href="~/Areas/Admin/Content/styles/pluginstyles/jquery.msgbox.css" rel="stylesheet" />
<link href="~/Areas/Admin/Content/styles/forms.css" rel="stylesheet" />
<link href="~/Areas/Admin/Content/styles/table.css" rel="stylesheet" />

@Html.Partial("documents_leftbar")

<div id="page-content" class="container_12">
    <div id="page-header">
       <h2>DÖKÜMAN BİLGİLERİ</h2>
    </div> 
    
<section class="grid_12 form">
    @Html.Hidden("ProcessMessage",(object)@ViewBag.ProcessMessage) 
    @using(Html.BeginForm("AddDocument", "Documents", FormMethod.Post, new { enctype = "multipart/form-data"}))
    {
         @Html.Hidden("hdfieldcategory")
         @Html.Hidden("hdfieldtaglist")
        @Html.ValidationSummary(true)
        <fieldset>
        <legend>Döküman Ekle</legend>
        <p>
            @Html.Label("Dil")
            @Html.DropDownListFor(d=>d.Language, (IEnumerable<SelectListItem>)ViewBag.LanguageList, "Dil Seçiniz...", new {@class="required" })
            @Html.ValidationMessageFor(m=>m.Language)
        </p>
        <p>
            @Html.Label("Döküman Grubu")
            @Html.DropDownListFor(m=>m.DocumentGroupId,(IEnumerable<SelectListItem>)ViewBag.grouplist, "Dökümanı Seçiniz...", new {@class="required" })
            @Html.ValidationMessageFor(m=>m.DocumentGroupId)
           <img src="/Areas/Admin/Content/images/icons/16/loader.gif" id="imgloader" class="imgloader" />
        </p>
        <p>
            @Html.LabelFor(m=>m.Name)
            @Html.TextBoxFor(m=>m.Name, new { @class="textwidth50",Rows="5"})
            @Html.ValidationMessageFor(m => m.Name)
        </p>
        
        <p>
            <label for="txtname">Döküman</label>
            
            <input type="file" name="uploadfile" id="uploadfile" class="required" />
        </p>
       
        <br />
        <p>
            <label></label>
            <input type="submit" value="Kaydet" id="btnsave" />
       </p>
    </fieldset>


    }
</section>
</div>
@section Scripts {
<link href="~/Areas/Admin/Content/styles/pluginstyles/jquery.msgbox.css" rel="stylesheet" />
<script src="~/Areas/Admin/Content/scripts/plugins/jquery.msgbox.min.js"></script>
<script src="~/Areas/Admin/Content/scripts/myscripts/MessageBox.js"></script>
<script src="~/Areas/Admin/Content/scripts/plugins/jquery.validate.js"></script>
<script src="~/Areas/Admin/Content/scripts/plugins/jquery.validate.unobtrusive.js"></script>


    <script src="~/Areas/Admin/Content/scripts/plugins/jquery.ui.datepicker-tr.js"></script>
<script src="~/Areas/Admin/Content/scripts/pagescripts/documents/adddocument.js"></script>
}

