@model IEnumerable<DAL.Entities.Service>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/adminlayout.cshtml";
}


<link href="~/Areas/Admin/Content/styles/pluginstyles/jquery.msgbox.css" rel="stylesheet" />
<link href="~/Areas/Admin/Content/styles/forms.css" rel="stylesheet" />
<link href="~/Areas/Admin/Content/styles/table.css" rel="stylesheet" />

@Html.Partial("service_leftbar")


<div id="page-content" class="container_12">
    <div id="page-header">
       <h2>HİZMET BİLGİLERİ</h2>
    </div>  
    <section class="grid_12 form">
    <div class="box-header" >
        <h1>Hizmet Listesi&nbsp;&nbsp;|&nbsp;&nbsp;
             @Html.DropDownList("LanguageList")
            &nbsp;&nbsp;|&nbsp;&nbsp;
             @Html.DropDownList("GroupList")
        </h1>

    </div>
    <table id="tblcategory" class="table no-border tablesorter">
        <thead>
            <tr>
              <th class="width5">Sırala</th>
                <th class="width50">Hizmet Adı</th>
                <th class="center witdh10">Durum</th>
                <th class="center witdh10">Eklenme Tarihi</th>
                <th class="center witdh10">İşlem</th>
            </tr>
        </thead>
         <tbody id="item-list">
            @foreach (var item in Model)
            {
               
                  <tr id="listItem_@item.ServiceId"  class="handle">
                    <td class="center">
                        <img src="/Areas/Admin/Content/images/icons/tablesorter/arrow2.png" alt="move" border="0" class="handle sortimg" align="middle" />
                    </td>  
                    <td>
                        <span id="spanitem_@item.ServiceId">@item.Name</span>
                        <input type="text" id="textitem_@item.ServiceId" value="" class="displaynone textwidth90"/>
                    </td>
                    <td class="center">
                        @if (item.Online == true)
                        {<img   id="img_online_@item.ServiceId" src="/Areas/Admin/Content/images/icons/online.png" class="cursorpointer" title="Offline yap" onclick="SetOnlineStatus('/Service/EditStatus',@item.ServiceId)" />}
                        else{<img id="img_online_@item.ServiceId" src="/Areas/Admin/Content/images/icons/offline.png" class="cursorpointer" title="Online yap" onclick="SetOnlineStatus('/Service/EditStatus',@item.ServiceId)" />}
                    </td>
                    <td class="center">@item.TimeCreated</td>
                    <td class="center">
                       <a href="/yonetim/Hizmetduzenle/@item.ServiceId">
                        <img id="btn_update_@item.ServiceId"  src="/Areas/Admin/Content/images/icons/16/edit.png"  title="Güncelle" class="cursorpointer" >
                       </a>
                       <img id="DeleteImage_@item.ServiceId"  src="/Areas/Admin/Content/images/icons/16/delete.png" class="cursorpointer"  title="Sil" onclick="DeleteRecord('/Service/Delete',@item.ServiceId)">
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>
 <br class="cl" />
<div id="info"></div>
</div>

<link href="~/Areas/Admin/Content/styles/pluginstyles/jquery.msgbox.css" rel="stylesheet" />
<script src="~/Areas/Admin/Content/scripts/plugins/jquery.msgbox.min.js"></script>
<script src="~/Areas/Admin/Content/scripts/myscripts/MessageBox.js"></script>

<script src="~/Areas/Admin/Content/scripts/myscripts/SetOnlineStatusRecord.js"></script>
<script src="~/Areas/Admin/Content/scripts/myscripts/DeleteRecordTable.js"></script>
<script src="~/Areas/Admin/Content/scripts/myscripts/SortOrder.js"></script>
<script src="~/Areas/Admin/Content/scripts/myscripts/generalprocess.js"></script>
<script src="~/Areas/Admin/Content/scripts/pagescripts/Services/Servicelist.js"></script>
<script src="~/Areas/Admin/Content/scripts/myscripts/SortOrderByCategory.js"></script>
<script src="~/Areas/Admin/Content/scripts/plugins/tablesorter/tablesorter.js"></script>
<script src="~/Areas/Admin/Content/scripts/plugins/tablesorter/jquery.tablesorter.pager.js"></script>


